# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [20]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_context('notebook')

In [21]:
# Use the data folder provided in Tutorial 02 - Intro to Pandas.
DATA_FOLDER = './Data'

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [22]:
# Write your answer here

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

## Answer

We start by importing the 9 spreadsheets in a list of `DataFrame`. The `glob` module is used to get the paths to the excel files, which are contained in the variable `allFiles`.

In [44]:
import glob

path = DATA_FOLDER + '/microbiome'
allFiles = glob.glob(path + '/MID*.xls')
spreadsheets = [pd.read_excel(file, sheetname='Sheet 1',  header=None, names=['Name', 'Counts']) for file in allFiles]

The `dataframes` are then concatenated into a single `dataframe` using the files name as keys.

In [45]:
fileID = ['MID' + str(i+1) for i in range(len(allFiles))]
microbeData = pd.concat(spreadsheets,  keys=fileID)

To add the metadata information to the `dataframe`, we first create 2 columns with content "unknown". Then, the metadata file is read and the metadata are added to the `dataframe` using the keys to isolate the data by input file.

In [46]:
microbeData['GROUP'] = ['unknown']*len(microbeData)
microbeData['SAMPLE'] = ['unknown']*len(microbeData)

microbeMetaData = pd.read_excel(path + '/metadata.xls', index_col='BARCODE')

for barcode in microbeMetaData.index:
    microbeData.loc[barcode, 'GROUP'] = microbeMetaData.loc[barcode,'GROUP']
    microbeData.loc[barcode, 'SAMPLE'] = microbeMetaData.loc[barcode,'SAMPLE']

Finaly, we set the `NaN` values to `unknown` and create a unique hierarchical index using the **group**, **sample** and **name** features

In [48]:
microbeData.fillna('unknown', inplace=True)

microbeData.set_index(['GROUP', 'SAMPLE','Name'], inplace=True)

In [49]:
microbeData.head()
# microbeData.sort_index(level='Name')

# microbeData[microbeData.index.get_level_values('SAMPLE') == 'tissue']

# print('Is the index unique ? ' + str(microbeData.index.is_unique))
# print('Is there NaN values ?' + str(microbeData.isnull().any(axis=1).any()))
# print(microbeData.index)
# Verification of NaN replacement by unknown
# microbeData = microbeData[microbeData.isnull().any(axis=1)]
# print(microbeData)

                                                                               Counts
GROUP              SAMPLE  Name
EXTRACTION CONTROL unknown Archaea "Crenarchaeota" Thermoprotei Desulfuroc...       7
                           Archaea "Crenarchaeota" Thermoprotei Desulfuroc...       2
                           Archaea "Crenarchaeota" Thermoprotei Sulfolobal...       3
                           Archaea "Crenarchaeota" Thermoprotei Thermoprot...       3
                           Archaea "Euryarchaeota" "Methanomicrobia" Metha...       7

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

### 1.
On s'est servi de ce qui a au-dessus :D
* **pclass** represents the travel class of a passenger. It is stored as an integer value and can take only 3 values : "1" for 1$^{\text{st}}$ class, "2" for 2$^{\text{nd}}$ class and "3" for 3$^{\text{rd}}$ class.
* **survived** encodes if the passenger survived to the sinking of the Titanic. It is stored as a foating point value which can take only two values : "0" if the passenger did not survived, "1" if he/she did.
* **name** is the name of the passenger. It is stored as a string.
* **sex** encodes the gender of the passenger. It is stored as a string which can take only two values : "female" or "male"
* **age** is the age of the passenger, in year. It is stored as a floating point value, and should be a positive value.
* **sibsp** is the Number of Siblings and Spouses of the passenger aboard the Titanic. It is stored as a floating point value, and should be an positive integer value
* **parch** is the Number of Parents and children of the passenger aboard the Titanic. It is stored as a floating point value, and should be an positive integer value
* **ticket** is the ticket number of the passenger. It is stored as a string.
* **fare** is the passenger's fare in British Pound (\243). It is stored as a foating point value and should be positive.
* **cabin** is the passenger's cabine(s). It is stored as a string. The list of possible values is given in the HTML file.
* **embarked** is the Harbor where the passenger embarqued. It is stored as a string and should be either "Cherbourg", "Queenstown, "Southampton".
* **boat** is the lifeboat on which the passenger was found after the sinking. It is stored as a string
* **body** is the body identifiction number of the passenger, if he/she has be found dead after the sinking. It is stored as a floating point value and shoudl be positive.
* **home.dest** is a string containing the home or the destination of the passenger, seperated by a "/"

In [ ]:
# Write your answer here